<div>
  <h2>
    <span *ngIf="contact.isFavotite" class="favorite" >&#9733;</span>
    {{ contact.name }}
  </h2>
  <img [src]="contact.avater" alt="avater">
    <ul>
      <li>Email: {{ contact.email }}</li>
      <li>Phone: {{ contact.phone }}</li>
    </ul>
</div>

<input type="checkbox" name="isFavorite" id="isFavorite" [(ngModel)]="contact.isFavotite" (click)="toggleFavorite(index)">
<label for="isFavorite" [class.favorite]="contact.isFavotite"
        (click)="toggleFavorite(contact.id, contact.isFavotite)">Favorite</label><br>
